@font-face {
  font-family: 'Genshin';
  src: url('../fonts/genshin.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeoGrey';
  src: url("../fonts/neogreyregular.otf") format("truetype")
}

html, body, #mapid {
  width: 100%;
  height: 100%;
}

.leaflet-popup {
  // min-width: 480px;

  .leaflet-popup-content-wrapper {
    border-radius: 2px;
  }

  .leaflet-popup-content {
    font-family: 'Genshin', 'comic sans ms', sans-serif;
    white-space: nowrap;
    margin: 0px;
    min-width: 480px;
    text-align: center !important;

    h1 {
      font-size: 12px;
      color: #000;
      margin: 0 5px 2px;
    }

    h2 {
      font-size: 16px;
      font-weight: bold;
      color: #000;
      margin-top: .25em;
    }

    h3 {
      font-size: 20px;
      font-weight: bold;
      color: #bf4646;
      text-shadow: 2px 2px 3px rgb(151, 137, 128);
    }

    h4 {
      text-align: center;
      font-size: 28px;
      text-shadow: 3px 3px 4px rgb(151, 137, 128);
      color: rgb(34, 33, 33);
    }

    h5 {
      margin : 0;
      font-size: 12pt;
      color: rgb(0, 0, 0);
    }

    img.ico {
      display: unset;
      width: 24px;
      height: 24px;
    }
  }
}

.leaflet-container {
  background: #000;
}

#mapid, .leaflet-interactive, .leaflet-tooltip.leaflet-clickable {
  cursor: url(../../media/icones/paimon.cur), pointer !important;
}

.display-none {
  display: none;
}

.peche {
  column-count: 2;
  text-align: left;
}

#menu {
  height: 100%;
  overflow: auto;
  background-image: url("../../media/menubg.png");
  background-repeat: no-repeat;
  background-size: 320px;
  background-position: right bottom;

    li.icone {
      a {
        img {
          width: 32px;
          height: 32px;

          &.jur {
            margin-right: 7px;
          }
        }
      }
    }

    li.marker, li.markerb {
      a {
        display: flex;
        padding: .25rem;
        align-items: center;
        border-radius: .25rem;
        border: 1px solid rgb(156,163,175);

        &.active {
          --tw-gradient-from: #f59e0b;
          --tw-gradient-to: #fffbeb;
          --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
          background-image: linear-gradient(to right, var(--tw-gradient-stops)) !important;
        }
      }
    }

    li.markerc {
      a {
        display: block;
        padding: .25rem;
        align-items: center;
        text-align: center !important;
        border-radius: .25rem;
        border: 1px solid rgb(156,163,175);

        &.active {
          background-image: linear-gradient(0deg,rgba(158,0,255,0.82) 0%, #52c6d6 100%) !important;
          color: #fffbeb;
        }
        
      }
    }

    li.marker {
      a {
        img {
          margin-right: .5rem;
          height: 1.25rem;
        }
      }
    }

    li.markerb {
      a {
        img {
          margin-right: .25rem;
          height: 1.75rem;
        }
      }
    }

    li.title {
      padding-left: 7px;
      margin-top: 7px;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: bold;
      list-style-type: none;

      &.ouvert {
        margin-bottom: 7px;
      }
    }

    li.ouvert2 {
      margin-bottom: 7px;
    }

    li.nodot {
      list-style-type: none;
    }

    li.selectbtn {
      a{
        display: flex;
        padding: .25rem;
        align-items: center;
        border-radius: .25rem;
        border: 1px solid rgb(156,163,175);
      }

      img {
        margin-right: .25rem;
        height: 1.25rem;
      }
    }
 
  a {
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.thumb {
  border-radius: 2px;
  width: 480px;
  height: 270px;
  cursor: url(../../media/icones/zoomin.cur), zoom-in !important;
}

.thumb2 {
  width: 297px;
  height: 348px;
  margin-left: auto;
  margin-right: auto;
  cursor: url(../../media/icones/zoomin.cur), zoom-in !important;
}

a:-any-link {
  color: black;
  text-decoration: none;
}

.accordion {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.accordion2 {
  cursor: pointer;
  transition: 0.4s;
}

.ouvert, .accordion:hover {
  background-color: rgba(204, 204, 204, 0.5);
}

.accordion:after, .accordion2:after {
  content: '\2B9F';
  float: right;
  margin-right: 7px;
}

.ouvert:after, .ouvert2:after {
  content: "\2B9D";
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#menutitle {
  font-family: 'Neogrey','comic sans ms', sans-serif;

  span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}

#infoFR, #infomajFR, #infomajEN, #infoEN {
  h4 {
    text-align: center;
    font-size: 28px;
    text-shadow: 3px 3px 4px rgb(151, 137, 128);
    color: rgb(34, 33, 33);
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    color: #bf4646;
    text-shadow: 2px 2px 3px rgb(151, 137, 128);
  }

}

$menu: 320px;

body {
  #menu {
    display: none;
    width: $menu;
  }

  #map-wrap {
    width: 100%;
  }

  &.show-menu {
    #menu {
      display: block;

      @media screen and (max-width: 500px) {
        position: absolute;
        width: 100%;
        z-index: 999;

        h1 {
          letter-spacing: -.25em;
        }
      }
    }

    #map-wrap {
      width: calc(100% - #{$menu});
    }

    @media screen and (max-width: 500px) {
      .leaflet-control-attribution {
        display: none;
      }

      #map-wrap {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .leaflet-control-container {
      > div {
        display: flex;
        align-items: flex-start;
      }
    }
  }
}

.lity {

  .lity-error {
    color:red;
  }
}